<li>
    <div class="row-fluid seleniumStep">
        <div class="span2">
            <select name="command" class="editable-category input-block-level command">
                <option disabled="disabled" selected="selected">Choose command</option>
                <option value="Open">Go to URL</option>
                <option value="Verify title">Verify Title</option>
                <option value="Find">Find element</option>
                <option value="Click">Click element</option>
                <option value="Type">Enter text</option>
                <option value="Health">Health check</option>
            </select>
        </div>
        <div class="pull-right">
            <input name="enabled" type="checkbox" class="editable" checked="1" />
            <button type="button" class="close removeStep">x</button>
        </div>
    </div>
</li>